@font-face {
	font-family: "Product Sans";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(/Fonts/Product-Sans-Regular.ttf);
}
@font-face {
	font-family: "Product Sans";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/Fonts/Product-Sans-Bold.ttf);
}
@font-face {
	font-family: "Product Sans";
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: url(/Fonts/Product-Sans-Bold-Italic.ttf);
}
@font-face {
	font-family: "Product Sans";
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: url(/Fonts/Product-Sans-Italic.ttf);
}

.companyName {
	font-family: "Product Sans";
	font-weight: bold;
	font-style: normal;
	color: #5b5b5b;
	font-size: 1.5rem;
	margin-top: 1em;
	margin-bottom: 0.2em;
	line-height: 0;
}

.verified {
	color: #4cbb87;
	font-style: italic;
	font-weight: 600;
}

.unverified {
	color: #d31d1d;
	font-style: italic;
	font-weight: 600;
}

.pending {
	color: #d8c202;
	font-style: italic;
	font-weight: 600;
}

.dropShadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}
